In [129]:
import pandas as pd
dataset = pd.read_csv("insurance_pre.csv")
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.columns
from sklearn.model_selection import train_test_split

In [130]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [131]:
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [132]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [133]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.datasets import make_regression
from sklearn.metrics import r2_score
X, y = make_regression(n_samples=100, n_features=10, n_informative=5, n_targets=1, random_state=42)
gbr = GradientBoostingRegressor()
gbr.fit(X_train, y_train)
y_pred1 = gbr.predict(X_test)
print("Gradient Boosting - R2: ", r2_score(y_test, y_pred1))

C:\Anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

Gradient Boosting - R2:  0.8842606002852884

In [134]:
!pip install xgboost
from xgboost import XGBRegressor
from sklearn.metrics import r2_score
xgr = XGBRegressor()
xgr.fit(X_train, y_train)
y_pred2 = xgr.predict(X_test)
print("XGBoost - R2: ", r2_score(y_test, y_pred2))

Requirement already satisfied: xgboost in c:\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from xgboost) (1.13.1)
XGBoost - R2:  0.8213337063789368

In [135]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score
adr = AdaBoostRegressor()
adr.fit(X_train, y_train)
y_pred3 = adr.predict(X_test)
print("AdaBoost - R2: ", r2_score(y_test, y_pred3))

AdaBoost - R2:  0.8634550675222465

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [136]:
!pip install lightgbm
import lightgbm as lgb
from sklearn.metrics import r2_score
from lightgbm import LGBMRegressor
lgr = LGBMRegressor()
lgr.fit(X_train, y_train)
y_pred4 = lgr.predict(X_test)
print("LightGBM - R2: ", r2_score(y_test, y_pred4))

Requirement already satisfied: lightgbm in c:\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: numpy>=1.17.0 in c:\anaconda3\lib\site-packages (from lightgbm) (1.26.4)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from lightgbm) (1.13.1)
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000324 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 5
[LightGBM] [Info] Start training from score 13232.916456
LightGBM - R2:  0.86603193419773

In [137]:
gradboost = r2_score(y_test, y_pred1)
xgboost = r2_score(y_test,y_pred2)
adaboost = r2_score(y_test,y_pred3)
lgboost = r2_score(y_test,y_pred4)

mostaccurate = max(gradboost,xgboost,adaboost,lgboost)
if (mostaccurate == gradboost):
    print ("Gradient Best model")
elif(mostaccurate == xgboost):
    print ("XG  Best model")
elif(mostaccurate == adaboost):
    print ("ADA  Best model")
else:
     print ("LG  Best model")

Gradient Best model